---
---

@import "{{ site.theme }}";

body {
    background-color: #FFFFFF;
    color: #252627;
    font-size: 12pt;
}

a {
   color: #BB0A21; 
}

a:hover {
    color: #BB0A21;
    font-weight: 800;
}

h1 {
    color: #252627;
    text-align: center;

}

h2 {
  color: #252627;
}

h3 {
    color: #252627;
}

h4 {
    color: #252627;
}

.headshot {
    margin-bottom: 20px;
    max-width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.sect {
    text-align: center;
    background-color: red;
    width: 1000px;  
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 12pt;
}

.nav-item {
    //border-style: solid;
    margin-bottom: 10px;
    border-width: thin;
    background-color: #FFFFFF;
}

.nav-link {
    color: #BB0A21;
    font-weight: bold;
    text-decoration: underline;
}

.nav-link:hover {
    opacity: 0.6;
}

footer {
    text-align: center;
    font-size: 10pt;
    color: #252627;
}

header{
    overflow: scroll;
}

.photo {
    width: 100%;
    /*opacity: 0.6;
    filter: grayscale(50%);*/
}

/*
.photo:hover {
    opacity: 1;
    transform: scale(1.05);
    filter: grayscale(0%);
    position: relative;
    z-index: 10;

}
*/

.photo_title {
    margin-top: 20px;
    margin-bottom: 10px;
}

b, strong {
   color: #252627;
   }

th {
    color: #252627;
    text-align: center;
}