---
---

@import "{{ site.theme }}";

body {
  background-color: #393E41;
  color: #F6F7EB;
}

a:link {
 color: #44BBA4; 
}

a:hover {
  color: #3F88C5;
}

h1 {
  color: #E94F37;
}

h2 {
  color: #E94F37;
}
