/* --------------------- WIDE SCREEN ---------------------*/

@font-face { font-family: Vulf; src: url('Vulf-LightItalic.otf'); } 

body{
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif; 
    margin: 0px; 
    padding: 0px;
    width: auto;
    background-color: #FBF5F3;
}

.container{
    display: flex;
    flex-direction: row;
}

h1 { 
  font-family: Vulf; 
  font-size: 50px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: bold; 
  line-height: 50px; 
  text-align: center;
} 
  
h3 { 
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif; 
  font-size: 14px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: bold; 
  line-height: 15px; 
} 

p { 
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif; 
  font-size: 18px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 400; 
  line-height: 20px; 
} 
  
.title {
  padding-top: 50px;
}

.image {
  width: 50%;
}

.aeroimg{
  width: 600px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: rotate(340deg);
}

.recipebox{
  display: block;
}


.but {
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: #F1DABF;
  color: #362417;
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif; 
  cursor: pointer;
  padding: 10px;
  text-decoration: none;
  font-size: 20px;
  box-shadow: 10px 10px;
  outline: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  border: none;
}

.but:hover {
  background-color: #FBF5F3;
  box-shadow: 0px 3px 5px #92817A;
  color: #362417;
  transform: translateY(-5px);
}

#recipe {
  display: none;
  padding-top: 20px;
}

/* --------------------- SMALL SCREEN --------------------- */

@media print, screen and (max-width: 800px){
    
  .container{
      flex-direction: column-reverse;
      padding-top: 0px;
      width: auto;
      height: auto;
  }

  .image {
    width: 100vw;
    height: auto;
  }

  .aeroimg{
    width: 75vw;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: rotate(340deg);
  }

  #recipe {
    display: none;
    padding-top: 20px;
    text-align: center;
  }
}

@media print, screen and (max-width: 1050px){
    
    .container{
        flex-direction: column-reverse;
        padding-top: 0px;
        width: auto;
        height: auto;
    }

    .image {
      width: 100%;
    }

    #recipe {
      display: none;
      padding-top: 20px;
      text-align: center;
    }
}

footer p{
  font-family: Vulf;
  font-size: small;
  text-align: center;
  color: #92817A;
}

footer a{
  text-decoration: none;
  color: #92817A;
  font-weight: bold;
}

footer a:hover {
  text-decoration: underline;
}