<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">Alvaro Aguirre</a></h1>
        
          <img src="https://user-images.githubusercontent.com/29491896/84263965-531a0380-ab18-11ea-9586-04dc4f3db0db.png" alt="If you can read this, my photo is not showing up." />

        <ul class="downloads">
          <li>Send me an <a href="mailto:alvaroaguirre@outlook.com"><strong>Email</strong></a></li>
          <li>Find me on <a href="https://www.linkedin.com/in/alvaro-aguirre/" target="_blank"><strong>LinkedIn</strong></a></li>
          <li>Get my <a href="https://www.dropbox.com/s/9xs8m1rikbwz24m/CV_AlvaroAguirre.pdf?dl=0" target="_blank"><strong>CV</strong></a></li>
        </ul>
      </header>
      
      <section>

      {{ content }}

      </section>

  </body>
</html>
